<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leiwei's Website</title>

    <link rel="stylesheet" href="/modules/angular-material/angular-material.min.css" type="text/css">
    <link rel="stylesheet" href="/client/controllers/hungry/components/login-register/login-register.css" type="text/css">

</head>
<body ng-app="LoginRegisterApp" layout="column" ng-controller="LoginRegisterController as lrc" ng-cloak>

<md-toolbar layout="row" layout-align="center" class="md-medium-tall" flex>
    <h1 class="md-toolbar-item">Hungry</h1>
</md-toolbar>

<md-content id="content" flex>

    <div layout="row" layout-align="center start" flex>

        <div layout="column" flex-xs="100">
        <md-card flex ng-repeat="photo in photos">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" ng-src="/avatars/{{photo.user.avatar}}"/>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{photo.user.first_name}} {{photo.user.last_name}}</span>
                    <span class="md-subhead">{{photo.user.address.address}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <img ng-src="/images/{{photo.file_name}}" class="md-card-image" alt="{{photo.file_name}}">
            <md-divider></md-divider>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{photo.food_name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    {{photo.description}}
                </p>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="/icons/favorite.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon md-svg-icon="/icons/share.svg"></md-icon>
                    </md-button>
                </md-card-icon-actions>
                <md-button class="md-raised" ng-click="showPhotoDetail($event, photo)">Detail</md-button>
            </md-card-actions>
        </md-card>
        </div>
    </div>

    <div id="my-login-register-menu" ng-cloak class="lock-size" layout="row">
        <md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-icon md-svg-src="/icons/menu.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Twitter" class="md-fab md-raised md-mini" ng-click="showLogin($event)">
                    <md-icon md-svg-src="/icons/login.svg" aria-label="Login"></md-icon>
                </md-button>
                <md-button aria-label="Twitter" class="md-fab md-raised md-mini" ng-click="showRegister($event)">
                    <md-icon md-svg-src="/icons/register.svg" aria-label="Register"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</md-content>


<script src="/modules/angular/angular.min.js"></script>
<script src="/modules/angular-animate/angular-animate.min.js"></script>
<script src="/modules/angular-aria/angular-aria.min.js"></script>
<script src="/modules/angular-material/angular-material.min.js"></script>
<script src="/modules/angular-route/angular-route.min.js"></script>
<script src="/modules/angular-resource/angular-resource.js" type="text/javascript" ></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>
<script src="/modules/angular-cookies/angular-cookies.js"></script>
<script src="/modules/angular-messages/angular-messages.js"></script>
<script src="/modules/jquery/dist/jquery.js"></script>



<script src="/client/controllers/hungry/components/login-register/app.js"></script>


<script>

    //TODO: control images size
    (function() {
        $('md-card>img').css('height', '260px');
    })();
</script>
</body>
</html>