html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

md-toolbar h3{
    margin: auto;
}

footer  md-list md-list-item{
    height: 48px;
}