<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leiwei's Website</title>
    <link rel="stylesheet" href="/modules/angular-material/angular-material.min.css" type="text/css">
    <link rel="stylesheet" href="/client/controllers/sample-simulation/mystyle.css" type="text/css">
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body ng-app="MyApp" layout="row" ng-controller="SimulationController as sc">


    <div layout="column" flex="50" class="md-whiteframe-1dp">
        <div style="height:50%">
            <div id="mySim"></div>
        </div>
        <div style="height:50%">
            <div id="myTime"></div>
        </div>
    </div>

    <div layout="column" flex>
        <div class="md-whiteframe-1dp">
            <md-input-container>
                <label>Number of steps</label>
                <input ng-model="step">
            </md-input-container>
            <md-button class="md-raised" ng-click="simulate(step)">Simulate</md-button>
        </div>

        <div class="md-whiteframe-1dp virtualRepeatHorizontalUsage">
            <p>Selected sample indices</p>
            <md-virtual-repeat-container id="horizontal-container" md-orient-horizontal>
                <div md-virtual-repeat="index in selectedIndices"
                     class="repeated-item" flex>
                    {{index}}
                </div>
            </md-virtual-repeat-container>
        </div>

        <div class="md-whiteframe-1dp">
            <p>Current probability: {{probability}}</p>
            <p>Updated sample index: {{updatedSampleIndex}}</p>
            <p>Updated time: {{updatedTime}}</p>
        </div>

        <div class="md-whiteframe-1dp virtualRepeatLoading">
            <p>Selected sample state</p>
            <md-virtual-repeat-container id="vertical-container">
                <div md-virtual-repeat="selectedSample in selectedSamples"
                     class="repeated-item" flex>
                    index: {{selectedSample.xAxis}};
                    state: {{selectedSample.curStateIndex}};
                    range: {{selectedSample.getProbabilityRange()}}
                </div>
            </md-virtual-repeat-container>
        </div>
    </div>


<script src="/modules/angular/angular.min.js"></script>
<script src="/modules/angular-animate/angular-animate.min.js"></script>
<script src="/modules/angular-aria/angular-aria.min.js"></script>
<script src="/modules/angular-material/angular-material.min.js"></script>



<script src="/client/controllers/sample-simulation/app.js"></script>
<script src="/client/controllers/sample-simulation/settingService.js"></script>
<script src="/client/controllers/sample-simulation/sampleService.js"></script>
<script src="/client/controllers/sample-simulation/utilsService.js"></script>
<script src="/client/controllers/sample-simulation/simulationService.js"></script>

</body>
</html>