<md-dialog class="md-grid" layout="column" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Weight</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="/icons/close.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex layout="column" layout-align="center center">
        <div>
            <md-datepicker ng-model="date" md-placeholder="Enter date"></md-datepicker>
        </div>
        <form name="weightForm">
            <div layout="column" layout-align="center center">
                <md-input-container class="md-block" flex>
                    <label>Weight</label>
                    <input ng-model="weight">
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="addNewWeight()" flex>
                    Add
                </md-button>
            </div>
        </form>
    </md-content>
</md-dialog>