<md-dialog class="md-grid" layout="column" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Weight</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="/icons/close.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex layout="row" layout-align="center center">
        <div flex>
            <form name="weightForm">
                <div layout="column" layout-align="center center">
                    <md-datepicker ng-model="date" md-placeholder="Enter date" flex="100"></md-datepicker>
                    <md-input-container class="md-block" flex="100">
                        <label>Weight</label>
                        <input ng-model="weight">
                    </md-input-container>
                    <md-button ng-click="addNewWeight()" flex="100">
                        Add
                    </md-button>
                </div>
            </form>
        </div>
    </md-content>
</md-dialog>