<md-card>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Weight</span>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table>
            <thead md-head>
                <tr md-row>
                    <th md-column>Date</th>
                    <th md-column md-numeric>Weight (kg)</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="data in weightData">
                    <td md-cell>{{data.date.getDate()}}/{{data.date.getMonth()+1}} ({{weekday[data.date.getDay()]}})</td>
                    <td md-cell>{{data.weight}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>