<md-dialog aria-label="Login" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Login name</label>
                        <input ng-model="loginUser.login_name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input ng-model="loginUser.password">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end">
            <md-button ng-click="login()">
                Login
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>