<md-dialog aria-label="Login" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Register</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="/icons/close.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="registerForm">
            <div class="md-dialog-content" layout="column">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="newRegister.first_name" maxlength="15" required name="firstName">
                        <div ng-messages="registerForm.firstName.$error" role="alert">
                            <div ng-message-exp="['required', 'maxlength']">
                                Your first name should be no empty and should be less than 15 characters long.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last name</label>
                        <input ng-model="newRegister.last_name" maxlength="15" required name="lastName">
                        <div ng-messages="registerForm.lastName.$error" role="alert">
                            <div ng-message-exp="['required', 'maxlength']">
                                Your last should be no empty and should be less than 15 characters long.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Login name</label>
                        <input ng-model="newRegister.login_name" minlength="6" maxlength="20" required name="loginName">
                        <div class="hint" ng-if="newRegister.login_name.length ===0">Between 6 and 20 characters long.</div>
                        <div ng-messages="registerForm.loginName.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                Your login name should be no empty and should be between 6 and 20 characters long.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email address</label>
                        <input ng-model="newRegister.email_address" name="emailAddress" required minlength="5" maxlength="30" ng-pattern="/^.+@.+\..+$/">
                        <div class="hint" ng-if="newRegister.email_address.length === 0">Between 5 and 30 characters long.</div>
                        <div ng-messages="registerForm.emailAddress.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Your email must be between 5 and 30 characters long and look like an e-mail address.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input type="password" ng-model="newRegister.password" minlength="6" maxlength="20" required name="password">
                        <div class="hint" ng-if="newRegister.password.length === 0">Between 6 and 20 characters long.</div>
                        <div ng-messages="registerForm.password.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                Your password must be between 6 and 20 characters long.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Confirm password</label>
                        <input type="password" ng-model="newRegister.confirmed_password">
                        <!--<div ng-if="newRegister.password !== newRegister.confirmed_password">-->
                            <!--TODO show information-->
                        <!--</div>-->
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Address</label>
                        <input ng-model="newRegister.address.address" name="address" required maxlength="100">
                        <div ng-messages="registerForm.address.$error" role="alert">
                            <div ng-message-exp="['required', 'maxlength']">
                                Your address should be no empty and should be less than 100 characters long.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>City</label>
                        <input ng-model="newRegister.address.city" name="city" required maxlength="100">
                        <div ng-messages="registerForm.city.$error" role="alert" >
                            <div ng-message-exp="['required', 'maxlength']">
                                Your city name should be no empty and should be less than 100 characters long.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>State</label>
                        <input ng-model="newRegister.address.state">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Zip code</label>
                        <input ng-model="newRegister.address.zip_code" name="zipCode" required ng-pattern="/^\d{5}$/">
                        <div class="hint" ng-if="newRegister.address.zip_code.length === 0">5 digits like xxxxx</div>
                        <div ng-messages="registerForm.zipCode.$error" role="alert">
                            <div ng-message-exp="['required', 'pattern']">
                                Zip code should be 5 digits.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Telephone</label>
                        <input ng-model="newRegister.telephone" name="telephone" required ng-pattern="/^\d{3}-\d{3}-\d{4}$/">
                        <div class="hint" ng-if="newRegister.telephone.length === 0">xxx-xxx-xxxx.</div>
                        <div ng-messages="registerForm.telephone.$error" role="alert">
                            <div ng-message-exp="['required', 'pattern']">
                                Telephone number should look like xxx-xxx-xxxx.
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end">
        <md-button md-raised md-primary ng-click="register()">
            Register
        </md-button>
    </md-dialog-actions>

</md-dialog>