<md-dialog aria-label="Login" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Register</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="newRegister.first_name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last name</label>
                        <input ng-model="newRegister.last_name">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Login name</label>
                        <input ng-model="newRegister.login_name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email address</label>
                        <input ng-model="newRegister.email_address">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input ng-model="newRegister.password">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Confirm password</label>
                        <input ng-model="newRegister.confirmed_password">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Address</label>
                        <input ng-model="newRegister.address.address">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>City</label>
                        <input ng-model="newRegister.address.city">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>State</label>
                        <input ng-model="newRegister.address.state">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Zip code</label>
                        <input ng-model="newRegister.address.zip_code">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Telephone</label>
                        <input ng-model="newRegister.telephone">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end">
            <md-button ng-click="register()">
                Register
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>