<md-dialog aria-label="Edit food" ng-cloak flex="66">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Food</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Food Name</label>
                        <input ng-model="editFood.name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Price</label>
                        <input ng-model="editFood.price">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Food Description</label>
                        <input ng-model="editFood.description">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end">
            <md-button ng-click="submit()">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>